
[gcode_macro GLOBAL]
variable_brightness: 0.5
variable_val: 1
gcode:

[output_pin led]
pin: PA5  
pwm: true
cycle_time:0.01
value: 1

[gcode_button tlacidlo]
pin: ^PB1
press_gcode:
  {% set val = printer["gcode_macro GLOBAL"].val %}
  {% set brightness = printer["gcode_macro GLOBAL"].brightness|float %}
  {% if val == 0%}
     SET_PIN PIN=led VALUE={brightness}
     SET_GCODE_VARIABLE MACRO=GLOBAL VARIABLE=val VALUE=1
  {% elif val > 0%}
     SET_PIN PIN=led VALUE=0
     SET_GCODE_VARIABLE MACRO=GLOBAL VARIABLE=val VALUE=0
  {% endif %}
  
release_gcode:

  
[gcode_macro LED_ON_OFF]
gcode:
  {% set val = printer["gcode_macro GLOBAL"].val %}
  {% if val == 0%}
    {% set brightness = printer["gcode_macro GLOBAL"].brightness|float %}
    SET_GCODE_VARIABLE MACRO=GLOBAL VARIABLE=val VALUE=1
    SET_PIN PIN=led VALUE={brightness}
    
  {% elif val > 0%}
    {% set brightness = printer["gcode_macro GLOBAL"].brightness|float %}
    RESPOND MSG="brightness"
    RESPOND MSG={brightness}
    SET_GCODE_VARIABLE MACRO=GLOBAL VARIABLE=val VALUE=0
    SET_PIN PIN=led VALUE=0
  {% endif %}



[gcode_macro SET_BRIGHTNESS]
gcode:
  {% set brightness = params.VALUE|default(0.5)|float %}
  SET_PIN PIN=led VALUE={brightness}
  RESPOND MSG={brightness}
  SET_GCODE_VARIABLE MACRO=GLOBAL VARIABLE=val VALUE=1
  SET_GCODE_VARIABLE MACRO=GLOBAL VARIABLE=brightness VALUE={brightness}

#----------------------------------------------------------------


[gcode_macro START_PRINT]
gcode:
   
    
    #MMU_START_LOAD_INITIAL_TOOL
    ; Optionally add YOUR additional start logic (like purging) here to run just prior to start
   # SET_PRINT_STATS_INFO TOTAL_LAYER={total_layer_count} ; For pause at layer functionality and better print stats


    QUAD_GANTRY_LEVEL
    #MMU_SERVO POS=up
    # Use absolute coordinates
    G28 Z;
    G90
    #BED_MESH_PROFILE load=default
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE ADAPTIVE=1
    BED_MESH_PROFILE SAVE="adaptive"
    #BED_MESH_PROFILE LOAD="adaptive"
    G1 X20 Y5 Z0.3 F3000
    G1 X120 E30 F1000
    G1 Z2 F500
    G92 E0.0
   

#----------------------------------------------------------------

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    # Raise nozzle by 10mm
    G1 Z50 F3000
    
    G90
    G1 X10 Y230 E-3 F3000


#----------------------------------------------------------------




